@page "/index"
@using Toolbelt.Blazor.I18nText
@using LocalisationGlobalizationI18nText.I18nText
@using System.Globalization
@inject I18nText I18nText

<h1>@_data.Title</h1>

<LangSelector />

<blockquote>
    @_data.Quote
</blockquote>

<p>
    @_data.Thanks
</p>

<p>Page User: @_pageUser.Name</p>


@code {

    Data _data = new();
    PageUser _pageUser = new();

    protected override async Task OnInitializedAsync()
    {
        _data = await I18nText.GetTextTableAsync<Data>(this);
        _pageUser = await I18nText.GetTextTableAsync<PageUser>(this);
    }
}